

.about-container{
    display: flex;
    background: linear-gradient(0deg,#ADA996,#F2F2F2, #DBDBDB,#EAEAEA );
    color: black;
    height: 70vh;
    padding: 100px 0 100px 0;
}

.about-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0 100px 0 100px;

}

.about-desc > h3 {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;

}

.about-desc > p{
    line-height: 1.5;
}

.about-img{
    width: 45%;
    display: flex;
    align-self: center;
    overflow: hidden;
}


.me {
    display: block;
    margin: 2em auto;
    margin-bottom: 4em;
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    cursor:pointer;
    overflow: hidden;
    border: double;
    border-width: 7px;
    border-color: rgb(88, 87, 87);
    filter: drop-shadow(7px 14px 0.4rem rgb(97, 95, 96));
    
    
    
}


        
    
       
