* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
  font-family: 'Poppins', sans-serif;
}


.App{
  height: 250vh;
}

.text-border{


  -webkit-text-stroke-color: rgb(206, 206, 206);
  -webkit-text-fill-color: rgb(255, 255, 255);

}